/.vscode
/a.jsx
/object.txt

# Python
*.pyc
__pycache__/
*.py[cod]

# Virtual environment
myenv/

# IDE-specific files
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
*.bak
*.swp
*.tmp
*.tmp.*
*.~*

# Dependency directories
lib/
libs/
